body {
    margin: 0px;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    margin: 0px;
    padding-top: 60px;
    color: #66BFBF;
    text-align: center;
}

.profile {
    text-align: left;
    height: 300px;
    margin: 250px auto 250px auto;
    padding-top: 50px;
    width: 70%;
}

.skills {
    text-align: center;
}

.skill-row1 {
    text-align: right;
    height: 300px;
    margin: 150px auto 150px auto;
    padding-top: 50px;
    width: 70%;
}

.skill-row2 {
    text-align: left;
    height: 300px;
    margin: 150px auto 150px auto;
    padding-top: 50px;
    width: 70%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.mountain {
    padding-top: 20px;
}

h1 {
    font-size: 5.62rem;
    margin: 50 auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2, h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

.my-job {
    color: #11999E;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999e;
}



.logo {
    width: 25%;
}

.code-img {
    float: left;
    margin-right: 30px;
}

.web-img {
    float: right;
    margin-left: 30px;
}

.chillies-img {
    float: left;
    margin-right: 30px;
}

.middle-container {
    margin: 0px;
}

.middle-container p {
    line-height: 2;
}

.bottom-container {
    margin: 0px;
}