body {
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #f8d996;
  }

  .signup-box {
    width: 200px;
    height: 200px;
    background-color: rgba(125, 185, 182, 0.6);
    padding: 40px 100px 110px 100px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10% 35%;
    border-radius: 8px;
  }

  .signup-content {
    padding-top: 0px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.4rem;
    font: bold;
    font-family: cursive;
    margin-top: 0px;
  }

  input {
    margin-bottom: 25px;
    padding: 8px;
    border-radius: 10px;
    color: #4D455D;
    font-family: monospace;
    background-color: #F5E9CF;
    font-weight: bold;
  }

  .form-submit {
    border-radius: 5px;
    background-color: #4D455D;
    color: #F5E9CF;
    opacity: 0.9;
    transition: 0.1s;
  }

  .form-submit:hover {
    opacity: 1;
  }